/* file: assets/custom.css */

/*
  ==============================================================
  Stile Globale per il Tema Chiaro a Gradiente
  ==============================================================
*/
body {
    background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 350px, #7eb671 100%) !important;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    color: #495b52;
}


/*
  ==============================================================
  Stile per le Card - Effetto "Vetro Smerigliato"
  ==============================================================
*/
.card {
    background-color: rgba(255, 255, 255, 0.75) !important;
    border: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}


/*
  ==============================================================
  Stili per i Componenti Specifici (aggiornati per il tema chiaro)
  ==============================================================
*/

h4 {
    color: #495b52 !important;
}

.custom-button-green {
    background-color: #7eb671 !important;
    border-color: #7eb671 !important;
    color: white !important;
}

.custom-button-green:hover {
    background-color: #495b52 !important;
    border-color: #495b52 !important;
    color: white !important;
}

/* Pulsante Info 'i' */
.info-button-custom {
  height: 25px !important;
  width: 25px !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: white !important;
  font-weight: bold !important;
  background-color: #495b52 !important;
  border-color: #495b52 !important;
  color: white !important;
}

.info-button-custom:hover {
    /* Rendiamolo leggermente più scuro al passaggio del mouse */
    background-color: #3a4941 !important;
    border-color: #3a4941 !important;
}

.dropdown-panel-card {
  position: relative;
  z-index: 2;
}

/* Header della tabella nel modale */
#contenuto-tabella-mensile thead {
  background-color: #343a40;
  color: #ffffff;
}

/*
  ==============================================================
  NUOVO: Stile Personalizzato per le Schede (Tabs)
  ==============================================================
*/

/* Stile per la scheda ATTIVA */
.tab--selected {
  color: #495b52 !important;
  font-weight: bold !important;
  border-top: 3px solid #495b52 !important;
}


.tab:not(.tab--selected):hover {
    border-top: 3px solid #aab8b1 !important;
}